@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SimplexTask.Models.Entities.Book



<h2 class="text-danger ml-2">Update Book Rating</h2>
<div class="w-100 d-flex justify-content-between align-items-center">
    <form asp-action="BookEdit" method="post" class="w-50 gy-2 gx-3  mt-4">
        <div class="col-auto">
            <div class="form-outline">
                <label class="form-label" for="form11Example1">Book Title</label>
                <input readonly asp-for="Name" value="@Model.Name" type="text" id="form11Example1" class="form-control" />
            </div>
        </div>
        <div class="col-auto mt-2">
            <label class="visually-hidden" for="inlineFormSelectPref">Rating</label>
            <select required asp-for="Rating" class="custom-select">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col-auto mt-2">
            <div class="form-outline">
                <label class="form-label" for="form11Example3">Author Name</label>
                <input hidden readonly asp-for="UserId" value="@Model.UserId" type="text" id="form11Example3" class="form-control" />
                <input hidden readonly asp-for="Id" value="@Model.Id" type="text" id="form11Example3" class="form-control" />
                <input readonly asp-for="Author" value="@Model.Author" type="text" id="form11Example3" class="form-control" />
            </div>
        </div>
        

        <div class="col-auto">
            <button type="submit" class="btn btn-danger btn-block mt-4">Submit</button>
        </div>
    </form>
    <div class="w-50">
        <img class="w-75" src="~/img/book.png" alt="Alternate Text" />
    </div>
</div>

